# C/C++
If:
  PathMatch: [.*\.cc, .*\.cpp, .*\.cxx, .*\.hpp, .*\.inl, .*\.c, .*\.h]

Diagnostics:
  # MissingIncludes: Strict
  ClangTidy:
    Add:
      - bugprone*
      - modernize*
      - performance*
      - readability*
    Remove:
      - readability-identifier-length
      - readability-named-parameter
      - readability-qualified-auto
      - readability-function-cognitive-complexity
      - bugprone-easily-swappable-parameters
    CheckOptions:
      readability-identifier-naming.VariableCase: lower_case
      readability-identifier-naming.ConstantCase: UPPER_CASE
  # clangd 14
  # UnusedIncludes: Strict

Completion:
  AllScopes: No

# clangd 14
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes
---
# C
If:
  PathMatch: [.*\.c]

CompileFlags:
  Add: [-std=c17, -Wall, -Wextra, -Wpedantic]
---
# C++
If:
  PathMatch: [.*\.cc, .*\.cpp, .*\.cxx, .*\.hpp, .*\.inl, .*\.h]

CompileFlags:
  Add:
    [
      -std=c++23,
      -Wall,
      -Wextra,
      -Wpedantic,
      -I/usr/local/include/uWebSockets,
      -I/usr/local/include/uSockets,
      -I/usr/local/include/glaze,
      -I/usr/local/boost/include,
      -I/opt/homebrew/Cellar/llvm/21.1.2/include,
      -lc,
      -D_XOPEN_SOURCE,
      -L/opt/homebrew/opt/llvm/lib/c++,
      -L/opt/homebrew/opt/llvm/lib/unwind,
      -lunwind,
      -stdlib=libc++,
    ]

Diagnostics:
  ClangTidy:
    Add:
      - cppcoreguidelines*
      - google-build-explicit-make-pair
      - google-default-arguments
      - google-readability-casting
      - misc-*
    Remove:
      - misc-no-recursion
      - misc-use-internal-linkage
      - performance-no-int-to-ptr
      - modernize-avoid-c-arrays
      - modernize-use-trailing-return-type
      - cppcoreguidelines-avoid-c-arrays
      - cppcoreguidelines-avoid-non-const-global-variables
      - cppcoreguidelines-owning-memory
      - cppcoreguidelines-pro-bounds-constant-array-index
      - cppcoreguidelines-pro-bounds-pointer-arithmetic
      - cppcoreguidelines-pro-type-reinterpret-cast
      - cppcoreguidelines-pro-type-vararg
      - cppcoreguidelines-special-member-functions
      - cppcoreguidelines-no-malloc
    CheckOptions:
      misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
---
# C source
If:
  PathMatch: [.*\.c]

CompileFlags:
  Add: [-xc]
---
# C header
If:
  PathMatch: []

CompileFlags:
  Add: [-xc-header]
---
# C++ source
If:
  PathMatch: [.*\.cc, .*\.cpp, .*\.cxx]

CompileFlags:
  Add: [-xc++]
---
# C++ header
If:
  PathMatch: [.*\.hpp, .*\.inl, .*\.h]

CompileFlags:
  Add: [-xc++-header]
