"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory\
$git_branch\
$git_status\
$python\
\n$character\
"""

palette = "rose-pine"

[palettes.rose-pine]
overlay = '#26233a'
love = '#eb6f92'
gold = '#f6c177'
rose = '#ebbcba'
pine = '#31748f'
foam = '#9ccfd8'
iris = '#c4a7e7'

[time]
disabled = false
format = '[\[$time\]]($style) '
style = "fg:gold"

[character]
success_symbol = "[❯](fg:bold pine)"
error_symbol = "[❯](fg:bold love)"
vimcmd_symbol = "[](fg:bold pine)"

[directory]
format = "[󰉋 $path]($style)"
style = "fg:iris"
truncation_length = 0

[git_branch]
format = "[ $symbol $branch]($style)"
style = "fg:foam"
symbol = '󰘬'

[git_status]
disabled = false
style = "fg:red"
format = '([ $all_status$ahead_behind]($style))'
untracked = '[?](fg:red)'
stashed = '[\$](fg:green)'
modified = '[!](fg:yellow)'
renamed = '[»](fg:blue)'
deleted = '[✘](fg:$red)'
staged = '[++](fg:gold)'
ahead = '[⇡\(${count}\)](fg:light-blue)'
diverged = '⇕[\[](fg:red)[⇡\(${ahead_count}\)](fg:light-blue)[⇣\(${behind_count}\)](fg:pink)[\]](fg:yellow)'
behind = '[⇣\(${count}\)](fg:pink)'

[python]
pyenv_version_name = true
format = ' [(\($virtualenv\) )]($style)'
style = 'fg:light-green'
